<div  class="side-nav-content">

  <ul class="nav-list" [ngClass]="{'nav-list-open': sidenavStatus}">
    <li class="nav-list-item">
      <a  href="" routerLink="home">
        <i class="fa-solid fa-house" style="color: #ffffff;"></i>
        Home</a>
    </li>
    <li class="nav-list-item">
      <a  href="" routerLink="player">
        <i class="fa-solid fa-user" style="color: #ffffff;"></i>
        Player</a>
    </li>
    <li class="nav-list-item">
      <a  href="" routerLink="schedule">
        <i class="fa-solid fa-calendar" style="color: #ffffff;"></i>
        Match</a>
    </li>
    <li class="nav-list-item">
      <a  href="" routerLink="standing">
        <i class="fa-regular fa-futbol" style="color: #fbfcfe;"></i>
        Leaderboard</a>
    </li>
    <li class="nav-list-item">
      <a  href="" routerLink="team-list">
        <i class="fa-brands fa-docker" style="color: #fcfcfc;"></i>
        Club</a>
    </li>

  </ul>

</div>
