  <table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Rank</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let team of listTeam; let i = index">
        <th scope="row">{{ i + 1 }}</th>
        <td>
          <img
            *ngIf="team.logo"
            style="width: 60px; height: 50px; object-fit: contain"
            src="{{ team?.logo }}"
            alt=""
          />
          {{ team.name }}
        </td>
        <td>{{ team.star }}</td>
        <td>
          <button
            style="margin-right: 10px"
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
            (click)="edit(team)"
          >
            Edit
          </button>
          <button class="btn btn-danger" (click)="deleteTeam(i)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
<div class="alert alert-success notify-alert" *ngIf="showSuccess" role="alert">
  <h4 class="alert-heading">Success!!!</h4>
</div>
<div class="btn-list">
  <button
    style="margin-left: 20px"
    class="mt-5 btn btn-secondary"
    data-bs-toggle="modal"
    data-bs-target="#exampleModal"
    (click)="add()"
  >
    Add team
  </button>

</div>

<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div  class="modal-content" style="margin-top: 100px">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Team manager</h5>
        <button
          type="button"
          class="close"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="manageForm.reset()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="manageForm" [formGroup]="manageForm">
          <div class="form-group">
            <label for="exampleInputEmail1">Team Name</label>
            <input
              type="name"
              class="form-control"
              id="exampleInputEmail1"
              placeholder="Enter team name..."
              formControlName = "teamname"
            />
            <span style="color:red" *ngIf="teamname && teamname.invalid && teamname.touched">Team Name is required</span>
          </div>
          <div  class="form-group">
            <label for="exampleInputEmail1">Name League</label>
            <input
              type="name"
              class="form-control"
              id="exampleInputEmail1"
              placeholder="Enter team name..."
              formControlName = "nameleague"
            />
            <span style="color:red" *ngIf="nameleague && nameleague.invalid && nameleague.touched">Name League is required</span>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Team Rank</label>
            <input
              type="number"
              class="form-control"
              id="exampleInputEmail1"
              placeholder="Enter team rank..."
              formControlName = "teamrank"
            />
            <span style="color:red" *ngIf="teamrank && teamrank.invalid && teamrank.touched">Team Rank is required</span>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="manageForm.reset()" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button *ngIf="showUpdate"  (click)="update(); showNotify()"  type="button" data-bs-dismiss="modal" class="btn btn-success">Update</button>
        <button *ngIf="showAdd" [disabled]="manageForm.invalid"  (click)="addTeam()" type="button" data-bs-dismiss="modal" class="btn btn-success">Add</button>
      </div>
    </div>
  </div>
</div>

