<div  class="sidenav p-3 sidenav-primary ps ps--active-y bg-dark" data-mdb-mode="side" data-mdb-hidden="false"
     data-mdb-accordion="true" data-mdb-transition-duration="200" id="mdb-sidenav" role="navigation"
     style="width: 240px; height: 100vh; position: fixed; transition: all 0.2s linear 0s; transform: translateX(0%);">
  <ul class="nav-list" [ngClass]="">
    <li class="nav-list-item">
      <a  href="" routerLink="home">
        <i class="fa-solid fa-house" style="color: #ffffff;"></i>
        Home</a>
    </li>
    <li class="nav-list-item">
      <a  href="" routerLink="player">
        <i class="fa-solid fa-user" style="color: #ffffff;"></i>
        Player</a>
    </li>
    <li class="nav-list-item">
      <a  href="" routerLink="schedule">
        <i class="fa-solid fa-calendar" style="color: #ffffff;"></i>
        Match</a>
    </li>
    <li class="nav-list-item">
      <a  href="" routerLink="standing">
        <i class="fa-regular fa-futbol" style="color: #fbfcfe;"></i>
        Standing</a>
    </li>
    <li class="nav-list-item">
      <a  href="" routerLink="team-list">
        <i class="fa-brands fa-docker" style="color: #fcfcfc;"></i>
        Club</a>
    </li>

  </ul>
</div>
